/*--------------------------------------------------------------
BASE WEB DASHBOARD
--------------------------------------------------------------*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Main layout styles                                          
2.0 REGISTER ET LOGIN styles (edit user)
3.0 NEWS styles (form table)                               
4.0 DASHBOARD styles
5.0 MENU ( liste a puce) styles
6.0 BLOG styles                       
8.0 FOOTER styles                        
9.0 RESPONSIVE styles
    - Menu burger
    - Panel styles


/*========================================================
                    Main layout styles
=========================================================*/

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    color: #000;
    font: 400 14px/23px Arial, "Times New Roman", sans-serif;
}

h1, h2, h3 {
    text-align: center;
}

h3 {
    font-size: 30px;
}
 
a {
    font: inherit;
    color: inherit;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.site-content p {
    color: black;
    background-color: cornflowerblue;
}

.container {
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
    /* height: 807px; */
    height: 1081.66px;
    margin-top: 75px;
}

ul {
    padding-inline-start: 0px;
}

li, ol {
    list-style: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    background: inherit;
}
  
img {
    max-width: 100%;
    height: auto;
}

.color-03 {font-weight: bold;}
.color-02 {color: rgb(76, 218, 95);}

.fa-tachometer-alt,
.fa-sign-out-alt,
.fa-blog,
.fa-user,
.fa-undo,
.fa-users-cog,
.fa-newspaper {
    padding-right: 5px;
}
 
.top {
    padding-top: 30px;
}

/*========================================================
                REGISTER ET LOGIN styles (Edit user)
=========================================================*/

.user-flex  {
    display: flex;
}

.user-link-flex {
    display: flex;
    flex-direction: column;   
}

.user-content  {
    width: 90%;
    padding: 1%;
}

.user-content h2 {
    background: #31353d;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    padding: 10px 15px;
    margin-top: 50px;
    margin-bottom: 0;
    border-radius: 3px;
    letter-spacing: 1px;
}

.user-content table {
    width: 100%;
    background-color: #fff;
    color: #000;
    font-weight: bold;
}

.user-content table td {
    border: 1px solid #ebebeb;
    padding: 10px 8px;
}

.user-content table td:first-child {
    font-size: 11px;
    text-align: right;
    background: #f6f6f6;
    width: 160px;
    text-transform: uppercase;
}

.user-content table td.td-buttom {
    text-align: center;
}

.user-content input {
    width: 100%;
    border: 1px solid #ebebeb;
    padding: 8px 0;
}

.user-ajust-buttom {
        
    padding: 13px;
    border-radius: 25px;
    border: none;
    background-color: #31353d;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.user-ajust-buttom:hover  {
    background: #51555c;
  }

.user-content i {
    padding-left: 7px;
  }

.psw {
    padding-top: 2%;
}

.error-php {
  background-color: rgb(236, 179, 179);;
  color: #f50c0cbd;
  font-weight: bold;
}

.succes-php {
    background-color: rgb(188, 230, 180);;
    color: #3b4e1b;
    font-weight: bold; 
  }

/*========================================================
                   NEWS styles (form table)
=========================================================*/

.dash-h2 {
    font-size: 26px;
    padding: 10px 0px;
}

.dash-p {
    font-size: 18px;
    padding-left: 8px;
}

.content h2 {
    background: #31353d;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    padding: 10px 15px;
    margin-top: 50px;
    margin-bottom: 0;
    border-radius: 3px;
    letter-spacing: 1px;
}

.content table {
    width: 100%;
    background-color: #fff;
    color: #000;
    font-weight: bold;
}

.content table td {
    border: 1px solid #ebebeb;
    padding: 10px 8px;
}

.content table td:first-child {
    font-size: 11px;
    text-align: right;
    background: #f6f6f6;
    width: 160px;
    text-transform: uppercase;
}

.content table td.td-buttom {
    /* background: #ffffff; */
    text-align: center;
}

.content input,
.content textarea {
    width: 100%;
    border: 1px solid #ebebeb;
    padding: 8px 0;
}

.ajust-buttom {
        
    padding: 13px;
    border-radius: 25px;
    border: none;
    background-color: #31353d;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.ajust-buttom:hover  {
    background: #51555c;
}

.content i {
    padding-left: 7px;
}

/*========================================================
                   DASHBOARD styles
=========================================================*/

.row-dashboard {
    display: flex;
    justify-content: space-between;
    background-image: url(/img/header-bg.png);
}

.logo-dashboard img {
    width: 150px;
    height: auto;
    padding-top: 5px;
    margin-left: 25px;
}

.top-right {
    display: flex;
    justify-content: flex-end;    
    color: #e6e8eb;   
    margin-right: 10px;
}

.top-right p {
    padding: 4px 10px;   
}

#header-dashboard {
	position: relative;                 
	float: left;                        
	width: 230px;                      
    height: 92em;
    background-image: url(/img/header-bg.png);
}

#avatar {
    width: 110px;
    text-align: center;
    padding-left: 50px;
    padding-top: 4em;
    margin-bottom: 4em;
    color: #fff;
}

#avatar img {
	display: inline-block;
    border-radius: 50%;
    width: 110px;
    height: 110px;
}

#user-avatar {
    padding: 0px;
    border: none;
}

.top-block {
    padding-top: 25px;
}


/*
             MENU ( liste a puce) styles
=========================================================*/

.menu-vertical ul {
	padding: 0;                                 
	list-style-type: none;
}									 

.menu-vertical {
	position: absolute;
	text-align: justify;
	width: 230px;	
}

.menu-vertical li {
	border-top: 1px solid rgba(255,255,255,0.08);
}

.menu-vertical li a {
	display: block;
	letter-spacing: 0.12em;
	padding: 1.5em 1.5em;
	text-decoration:  none;	
	font-weight: 700;
	color: rgba(255,255,255,0.5);
}

.menu-vertical li a:visited,
.menu-vertical li a:focus,
.menu-vertical li a:hover {
	background-color: #2980b9;
	color: #fff;		                                                                             
}

.current_page_item {	
	background: #2980b9;
    color: rgba(255,255,255,1);
    font-size: 15px;
}

/*========================================================
                     BLOG styles
=========================================================*/


.card-flex {
    display: flex;
    flex-wrap: wrap;
}

.card-row {
    width: 33.33%;
    height: auto;
}
.card {
    margin: 10%;
    padding: 4% 6%;
    border: 1px solid#fff;
}

.card h5 {
    font-size: 1vw;
}

.card-date {
    color: #9dc02e;
}

.blog-buttom {
    padding: 3%;
    font-size: .8vw;
    color: #fff;
    background: #ffc107;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
}

.blog-buttom:hover {
    background: #9dc02e;    
}

.top-buttom {
    margin-top: 10%;
}

.content-blog  {
    width: 100%;
    text-align: center;
    border-spacing: 0.9px;
}

.color-text-o1 {
    color: #000;
}

.flex-row {
    text-align: center;
}

.end {
    text-align: end;
}

.content-blog td {
    padding-top: 30px;
}

.head-bg {
    color: #fff;
    background: #353942;
}

.head-bg th {
    padding: 10px 0px;
}

.tbody-border {
    border-bottom: 1px solid #353942;
}

.create-bottom,
.edit-bottom,
.delete-bottom {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
}

.create-bottom {
    background-color: rgb(41, 41, 172);
}

.create-bottom:hover {
    background-color: rgb(4, 33, 66);
}

.edit-bottom {
    background-color: rgb(8, 194, 48);
}

.edit-bottom:hover {
    background-color: rgb(2, 58, 14);
}

.hover-link:hover {
    color: rgb(40, 37, 253);
    text-decoration: underline;
}

.delete-bottom {
    background-color: rgb(255, 0, 0);
}

.delete-bottom:hover {
    background-color: rgb(94, 7, 7);
}


/*========================================================
                   RESPONSIVE styles
=========================================================*/

/*                    Menu burger
=========================================================*/

@media only screen and (max-width: 1500px) {

    .row-dashboard {
        flex-wrap: wrap;
        justify-content: center;
    }
     
    .site-pusher, .site-container { height: 100%; }
    .site-container { overflow: hidden; }    
    .site-pusher {
        transition-duration: 0.3s;
        transform: translateX(0px); 
    }
      
    .menu_burger {
        align-self: center;
    }

    .header { 
        position: static; 
    }

    .header-dashboard {
        flex-wrap: wrap;
        justify-content: center;
    }

    .menu> li + li {
        border-left: none;
    }

    .header__icon {
        position: relative;
        display: block;
        padding-right: 10px;
        width: 50px;
        height: 30px;
        cursor: pointer;
    }

    .header__icon:after {
        content: '';
        position: absolute;
        display: block;
        width: 1rem;
        height: 0;       
        left: 18px;
        box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white; 
    }
    #header-dashboard {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        padding: 0px 0;
        /* overflow-y: scroll; */
        -webkit-overflow-scrolling: touch;
        background-color: rgb(24, 22, 22);
        width: -230px;
        transform: translateX(-230px); 
    }

    .menu li:nth-child(1) {padding: 10px 0px;}
    .menu li:nth-child(2) {padding: 10px 0px;}
    .menu li:nth-child(3) {padding: 10px 0px;}
    .menu li {border-bottom: 1px solid rgb(44, 44, 44);}

    .menu-vertical > ul {
        width: 100%;
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
       text-align: center; 
    }

    .menu-vertical a {
        height: 40px;
        text-align: center;
        line-height: 40px;
        border-bottom: 1px solid #000; 
    }
           
    .with--sidebar .site-pusher {
        transform: translateX(230px); 
    }

    .with--sidebar .site-cache {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.6); 
    } 
}

@media only screen and (max-width: 632px) {

/*                   Panel styles
=========================================================*/

    .head-bg {
        display: none;
    }

    .flex-row {        
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        background-color: rgb(236, 236, 233);
        margin-top: 10px;
    }

    .end {
        padding-bottom: 20px;
    }
}