/*--------------------------------------------------------------
BASE WEB
--------------------------------------------------------------*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Main layout styles                                          
2.0 REGISTER ET LOGIN styles
3.0 HEADER styles                               
4.0 MAIN styles
5.0 CAROUSSEL styles
6.0 PRODUCT styles
    - Button fenêtre modal styles
7.0 BLOG styles                       
8.0 FOOTER styles                        
9.0 RESPONSIVE styles
    - Produc
    - Blog
    - footer
    - Menu burger


/*========================================================
                    Main layout styles
=========================================================*/

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    color: #ffffff;
    font: 400 14px/23px Arial, "Times New Roman", sans-serif;
}

h1, h2, h3 {
    text-align: center;
}

h3 {
    font-size: 30px;
}
 
a {
    font: inherit;
    color: inherit;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul {
    padding-inline-start: 0px;
}

li, ol {
    list-style: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    background: inherit;
}
  
img {
    max-width: 100%;
    height: auto;
}

.fa-user-plus,
.fa-user-lock,
.fa-undo,
.fa-th-list,
.fa-user,
.fa-sign-out-alt {
    padding: 5px;
    font-size: 11px;
}

.user-link {
    padding-top: 5px;
    text-align: center;
}

.style-link {
    text-decoration: underline;
    color: rgb(7, 7, 245);
}

.style-link:hover {
    color: #000;
}

.color-02 {color: rgb(76, 218, 95);}
.color-03 {font-weight: bold;}

 
.container {
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
}

.top {
    padding-top: 30px;
}

/*========================================================
                REGISTER ET LOGIN styles
=========================================================*/

.user-flex  {
    display: flex;
}

.user-link-flex {
    display: flex;
    flex-direction: column;   
}

.user-content  {
    width: 90%;
    padding: 1% 0%;
}

.user-content h2 {
    background: #31353d;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    padding: 10px 15px;
    margin-top: 50px;
    margin-bottom: 0;
    border-radius: 3px;
    letter-spacing: 1px;
}

.user-content table {
    width: 100%;
    background-color: #fff;
    color: #000;
    font-weight: bold;
}

.user-content table td {
    border: 1px solid #ebebeb;
    padding: 10px 8px;
}

.user-content table td:first-child {
    font-size: 11px;
    text-align: right;
    background: #f6f6f6;
    width: 160px;
    text-transform: uppercase;
}

.user-content table td.td-buttom {
    text-align: center;
}

.user-content input {
    width: 100%;
    border: 1px solid #ebebeb;
    padding: 8px 0;
}

.user-ajust-buttom {
        
    padding: 13px;
    border-radius: 25px;
    border: none;
    background-color: #31353d;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.user-ajust-buttom:hover  {
    background: #51555c;
  }

.user-content i {
    padding-left: 7px;
  }

.psw {
    padding-top: 2%;
    text-align: right;
}

.error-php {
  background-color: rgb(236, 179, 179);;
  color: #f50c0cbd;
  font-weight: bold;
}

.succes-php {
    background-color: rgb(188, 230, 180);;
    color: #3b4e1b;
    font-weight: bold; 
  }

/*========================================================
                    HEADER styles
=========================================================*/

header {
    background-image: url(/img/header-bg.png);
    height: auto;
    padding-bottom: 10px;    
}

.menu {
    display: flex;
    justify-content: flex-end;
}

.wrap {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: transform 1000ms ease-in-out;
    transition: transform 1000ms ease-in-out;
}

.row {
    display: flex;
    justify-content: space-between;   
}

.col-01 {
    padding: 20px 0;
}

.col-01 ul {
    padding-inline-start: 0px;
}

.menu> li + li {
    border-left: 1px solid #fff;  
}

.menu > li > a {
    border-bottom: 2.5px solid transparent;
    height: 88px;
}

.menu > li > a:hover {
    border-bottom: 2.5px solid #F45D1D;
    height: 88px;
}

.menu li:nth-child(1) {
    padding-right: 15px;
}

.menu li:nth-child(2) {
    padding: 0px 15px;
}

.menu li:nth-child(3) {
    padding-left: 15px;
}

.col-01 ul li {
    font-size: 15px;
    text-transform: uppercase;
}

.logo img {
    margin: 30px 0 66px;
    width: 200px;
    height: auto;
}

#mailing {
    /* padding-top: 25px; */
    height: 30px;
    align-self: flex-end;
}
#mailing .input_wrap {
    display: inline-block;
    float: left;
    width: 207px;
    height: 100%;
    padding: 0 10px;
    color: #ffffff;
    background: #fff;
}
#mailing .input_wrap input {
    display: block;
    width: 100%;
    padding: 7px 0 7px;
    line-height: 20px;
    letter-spacing: 0;
    font: 600 14px 'Open Sans', sans-serif;
    color: #000;
    outline: none;
    background-color: transparent;
    border: none;
    overflow: hidden;
    margin: 0;
}
#mailing .style-bottom {
    display: inline-block; 
    margin-left: 10px;
    border-radius: 10px;
    height: 100%;
    color: #fff;
    background: #4E902E;
    font-size: 17px;
    border: none;
    text-align: center;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#mailing .style-bottom:hover {
    background: #00E71A;
}

/*========================================================
                      MAIN styles
=========================================================*/


main {
    color: #000;
}

.title {
    padding-top: 20px;
    color:#4E902E;
}

.tx-middle {
    padding:0px 100px;
    text-align: center;
    color: #7C7D87;
}

.pattern-left {
    padding-left: 50px;
    width: 30%;
    max-width: 300px;
}

.pattern-right {
    padding-left: 50px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    width: 30%;
    max-width: 300px;
}
 
/*========================================================
                   CAROUSSEL styles
=========================================================*/

.gallery {
    padding: 50px 15px;
    text-align: center;
    height: auto;
}

#caroussel {
    position: relative;
    border: solid 1px #e7dbc5;
    width: 875px;
    height: 498px;
    margin: 0 auto;
    overflow: hidden;
    max-width: 100%;
}

.slide-gallery {
    position: absolute;
    width: 875px;
    max-width: 100%;
    /* height: 498px; */
    top: 0;
    left: 0;
}

.info-text {
    position: absolute;
    padding-left: 12px;
    width: 972px;
    text-align: left;
    line-height: 22px;
    height: 45px;
    bottom: 0;
    left: 0;
    color: #000;
    font-weight: 900;
    background-color: #e6e8eb;
    opacity: .6;
}

.navigation {
    position: absolute;
    bottom: 48px;
    right: 5px;
}

.navigation span {
    background: #000;
    color: #fff;
    padding: 4px 8px;
    margin: 2px;
    border-radius: 25px;
    cursor: pointer;
}

.navigation span:hover, .navigation span.active {
    background: #fff;
    color: #000;
}

.scroll-down {
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    right: 50px;
    top: 760px;
    color: #4E902E;
    transform: rotate(90deg);
}

.fa-long-arrow-alt-down {
    transform: rotate(270deg);
}

.scroll-down:hover, 
.fa-long-arrow-alt-down:hover {    
    color: #00E71A;   
}

#scroll-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 80px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #4E902E;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}
  
#scroll-top:hover {
    background-color: #00E71A;
}


/*========================================================
                    PRODUCT styles
=========================================================*/
.shop h2 {
    font-size: 24px;
    color: #4E902E;
    text-align: left;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.shop li {
    padding-bottom: 20px;
    list-style: disc;
}

.shop .ajust {
    padding-top: 10px;
    padding-right: 5px;
}

.color02 {
    padding-left: 5px;
    color: #F45D1D;
    font-size: 16px;
    font-weight: bold;
}

.banner-row {
    display: flex;
    justify-content: space-between;   
}

.banner-bg {
    height: 35px;
    line-height: 7px;
    background-color: #E4E4E7;
}

.product-bg {
    background-color: #ECE9E9;
}

.width50 {
    width: 50%;
    padding: 40px 30px;
}

.svg-wrapper, 
.svg-wrapper1, 
.svg-wrapper2 {
    width: 100%;
    padding-top: 36px;
    display: flex;
    justify-content: flex-end;
  }

.shape, 
.shape1, 
.shape2 {
    background-color: #4E902E;
    border-radius: 8px;
    width: 50%; 
    cursor: pointer;     
}

.fade {   
    -webkit-transition: .10s ease-in-out;
      transition: .10s ease-in-out;
    -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
}

.fade:hover {
    -webkit-transform: scale(1.1);
      transform: scale(1.1);
    -webkit-filter: grayscale(0);
      filter: grayscale(0);
}

/*
       BUTTON FENÊTRE MODAL styles
=========================================================*/
  
form.modal-content button {  
    border-bottom: 4px solid #b0df66;
    background: #384313;
    border: none;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    color: #ffffff;
    display: block;
    font: 15px Georgia, "Times New Roman", Times, serif;
    letter-spacing: 1px;
    padding: 7px 25px;
    text-shadow: 0 1px 1px #000000;
}
  
form.modal-content {
    padding-bottom: 20px;
  }
  
form.modal-content button:hover {
    color: #31353d;
      background: #fff;
      border-bottom-color: #c8c8c8;
    cursor: pointer;
}
  
form.modal-content {
    background: #9cbc2c;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 10px 10px 10px 10px;  
}
   
.modal span {
    color: #000;
}
  
.container-form {
    /* padding: 16px;  */
    margin-top: 30px;
    padding-right: 42px;
    padding-left: 42px;
}
   
.modal {
    display: none; 
    position: fixed; 
    z-index: 2; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 81.5px;
}
  
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 58%; 
}
.modal-content {
    color: #000; 
}
  
.close { 
    float: right;
    padding-right: 15px;
    margin-top: 15px;
    font-size: 35px;
    cursor: pointer;
}

.font-size1 {
    font-size: 15px;
}

.font-size2 {
    font-size: 12px;
}
   
/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
  
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
  
@media screen and (max-width: 1050px) {
    .container-form {    
      margin-top: 30px;    
      padding-left: 10%;
      width: 90%;    
    }
    .modal-flex {
      display: flex;
      flex-direction: column; 
    }
    .lign-left {
      border-right: 0;
    }  
}  
  
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
}


/*========================================================
                     BLOG styles
=========================================================*/
.card-flex {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;
}

.card-row {
    width: 33.33%;
    height: auto;
}
.card {
    margin: 10%;
    padding: 4% 6%;
    border: 1px solid #c8c8c8;
}

.card h5 {
    font-size: 20px;
}

.card-date {
    color: #F45D1D;
    font-weight: bold;
}

.blog-buttom {
    padding: 3%;
    color: #fff;
    background: #4E902E;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
}

.blog-buttom:hover {
    background: #00E71A;    
}

.top-buttom {
    margin-top: 10%;
}

.content-blog  {
    width: 100%;
    text-align: center;
}

.flex-row {
    text-align: center;
}

.end {
    text-align: end;
}

.content-blog td {
    padding-top: 30px;
}

.head-bg {
    background: #353942;
}

.head-bg th {
    padding: 10px 0px;
}

.tbody-border {
    border-bottom: 1px solid #353942;
}

.create-bottom,
.edit-bottom,
.delete-bottom {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.create-bottom {
    background-color: rgb(41, 41, 172);
}

.create-bottom:hover {
    background-color: rgb(4, 33, 66);
}

.edit-bottom {
    background-color: rgb(8, 194, 48);
}

.edit-bottom:hover {
    background-color: rgb(2, 58, 14);
}

.hover-link:hover {
    color: rgb(40, 37, 253);
    text-decoration: underline;
}

.delete-bottom {
    background-color: rgb(255, 0, 0);
}

.delete-bottom:hover {
    background-color: rgb(94, 7, 7);
}


/*========================================================
                    FOOTER styles
=========================================================*/


footer {
    background-color: #161616;
}

.grid h2 {
    font-size: 28px;
    color: #4E902E;
}

.middle {
    padding-top: 60px;
    justify-content: space-around;
}

.social-list {
    display: flex;
    padding-top: 15px;
 }

.social-list li {
    margin-left: 13px;
}

.social-list li a {
    display: inline-block;
    width: 51px;
    height: 51px;
    color: #ffffff;   
    font: normal 26px/54px 'FontAwesome';   
}

.fa-facebook-f::before {
    font-family: "Font Awesome 5 Brands";
    font-weight: 900;
    /* content: "\f39a"; */
}

.fa-twitter::before {
    font-family: "Font Awesome 5 Brands";
    font-weight: 900;
    /* content: "\f099"; */
}

.fa-google-plus-g::before {
    font-family: "Font Awesome 5 Brands";
    font-weight: 900;
    /* content: "\f2b3"; */
}

.fa-rss::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    /* content: "\f09e"; */
}

.copyrigth {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
}

/*========================================================
                RESPONSIVE styles
=========================================================*/



/*                     Product
=========================================================*/

@media only screen and (max-width: 1200px) {
    .scroll-down {
        display: none;
    }
}

@media only screen and (max-width: 840px) {
    
     .shop .row {
        display: flex;
        flex-direction: column;  
    }

    h3 {
        font-size: 2vh;
    }

    .tx-middle {
        padding: 0px 30px;    
    }

    .width50 {
        width: 100%;
        padding: 40px 0px;
    }

    .svg-wrapper, 
    .svg-wrapper1, 
    .svg-wrapper2 {
        padding-top: 0px;
        justify-content: center;
    }

/*                     Blog
=========================================================*/

    .card-flex {
        display: flex;
        flex-direction: column;       
    }

    .card-row {
        width: 100%;
    }

    .card {
        margin: 5% 10%;
    }

/*                    Footer
=========================================================*/

    .social-list li a {
        width: 35px;
    }

    .grid h2 {
        font-size: 25px;
    }

}

@media only screen and (max-width: 840px) {

    .social-list li a {
        width: 35px;
    }

    .grid h2 {
        font-size: 25px;
    }

}

/*                    Menu burger
=========================================================*/

@media only screen and (max-width: 660px) {
     
    .site-pusher, .site-container { height: 100%; }
    .site-container { overflow: hidden; }    
    .site-pusher {
        transition-duration: 0.3s;
        transform: translateX(0px); 
    }
      
    .menu_burger {
        align-self: center;
        padding-left: 114px;
    }

    .header { 
        position: static; 
    }

    .header-row {
          flex-wrap: wrap;
          justify-content: center;
    }

    .menu> li + li {
        border-left: none;
    }

    .header__icon {
        position: relative;
        display: block;
        float: left;
        width: 50px;
        height: 66px;
        cursor: pointer;
    }

    .header__icon:after {
        content: '';
        position: absolute;
        display: block;
        width: 1rem;
        height: 0;       
        left: 18px;
        box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white; 
    }
    .col-01 {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        padding: 0px 0;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        background-color: rgb(24, 22, 22);
        width: 250px;
        transform: translateX(250px); 
    }

    .menu li:nth-child(1) {padding: 10px 0px;}
    .menu li:nth-child(2) {padding: 10px 0px;}
    .menu li:nth-child(3) {padding: 10px 0px;}
    .menu li {border-bottom: 1px solid rgb(44, 44, 44);}

    .col-01 > ul {
        width: 100%;
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
       text-align: center; 
    }

    .col-01 a {
        height: 40px;
        text-align: center;
        line-height: 40px;
        border-bottom: 1px solid #000; 
    }
           
    .with--sidebar .site-pusher {
        transform: translateX(-250px); 
    }

    .with--sidebar .site-cache {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.6); 
    } 
}